.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
    height: 15vh;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background: #444D56
}

.textfld{
    color:white;
}